.calendar-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  padding: 0 24px;
  gap: 2px 6px;
  overflow-x: auto;
}
.calendar-chevron {
  font-size: 32px;
  color: $text-level-1;
}
.calendar-chevron.t-light {
  color: $t-light-text-level-1 !important;
}
.calendar-day {
  position: relative;
  height: 80px;
  background-color: $bg-deep2;
  transition: background 0.2s ease;
}
.calendar-day.t-light {
  background-color: $t-light-bg-lvl-6 !important;
}
.calendar-day:hover {
  background-color: $bg-lvl-7;
}
.calendar-day.t-light:hover {
  background-color: $t-light-bg-lvl-7 !important;
}
.calendar-day-now {
  height: 80px;
  background-color: $bg-deep;
}
.calendar-day-now.t-light {
  background-color: $t-light-bg-deep !important;
}
.calendar-id {
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
}
.calendar-weekend {
  color: #e93030;
}
.calendar-badge {
  width: 80%;
}
.calendar-day-empty {
  background-color: $bg-lvl-2;
  opacity: 0.5;
}
.calendar-day-empty.t-light {
  background-color: $t-light-bg-lvl-2 !important;
}
