.t-tab-panels {
  background-color: $bg-lvl-3;
}
.t-tab-panels.t-light {
  background-color: $t-light-bg-lvl-3;
}
.t-settings {
  .q-splitter__separator,
  .q-splitter__separator-area {
    pointer-events: none;
  }
}
.t-account-input {
  min-width: 320px;
}
.t-settings-select {
  min-width: 220px;
}
.t-settings-tab {
  align-items: center;
}
.t-setting-disabled {
  pointer-events: none;
}
.t-setting-row-component {
  width: 120px;
  margin-right: 12px;
}
