#t-tasks-content {
  padding: 0 12px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.t-task {
  background-color: $bg-lvl-4;
}
.t-task.t-light {
  background-color: $t-light-bg-lvl-4 !important;
}
.t-tasks-task {
  z-index: 999;
}
.t-tasks-task-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 32px 16px;
  cursor: pointer;
}
.t-task-card {
  background-color: $bg-lvl-5;
  padding-right: 64px;
  padding-left: 64px;
}
.t-task-card.t-light {
  background-color: $t-light-bg-lvl-5 !important;
}
.t-tasks-task-options {
  position: absolute;
  top: 48px;
  left: 12px;
}
