// app global css in SCSS form
* {
  user-select: none;
}
// impedir arrastrar las imagenes
img {
  pointer-events: none;
}
a {
  -webkit-user-drag: none;
}
*::selection {
  color: #333;
  background-color: #fafafa;
}
*::-webkit-scrollbar-thumb {
  background-color: $bg-lvl-10;
  border-radius: 8px;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: $bg-lvl-2;
}

.t-bg-banner {
  background-color: $bg-banner;
  color: $text-level-1;
}
.t-bg-drawer {
  background-color: $bg-drawer;
  color: $text-level-1;
  overflow-x: hidden !important;
}
.t-icon {
  font-size: 24px;
}
.q-drawer {
  // width: 200px !important;
  overflow-x: hidden;
  transition: width 0.2s;
}
.t-page-container {
  height: 100%;
  background-color: $bg-lvl-5;
  color: $text-level-2;
}
.t-select {
  min-width: 150px;
}
@media screen and (max-width: 992px) {
  .t-select {
    min-width: 50px !important;
  }
}
.t-item-selected {
  background: $bg-deep2 !important;
  color: $text-level-1;
  // transition: none;
}
.t-item-selected:hover {
  background: $bg-deep !important;
  color: $text-level-1;
}
.no-padding-header .q--header-content {
  padding: 0;
}
.q-page {
  transition: width 0.2s !important;
}
